<div class="main-body">
  <div class="container">
    <h1 class="single-title">About Me</h1>
    <figure class="profile_image">
      <img src="images/arif.jpg">
    </figure>
    <blockquote>
      Hi! I am Arifatul Ronansyah. 
      <ul id="profile_list">
        <li>I am a web developer, but very passionate about front end web development.</li>
        <li>I am a fast learner.</li>
        <li>I am be able to work with team.</li>
      </ul>
    </blockquote>
  </div>
</div>