<div class="main-body">
  <figure class="container">
    <img src="http://nerdapproved.com/wp-content/uploads/2015/11/header-600x324.jpg" alt="A Tour of The Star Wars Universe"/>
  </figure>
</div>